@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
// ### Primary
$Cyan: hsl(179, 62%, 43%);
$Light-Cyan: hsl(179, 47%, 52%);
$Bright-Yellow: hsl(71, 73%, 54%);

// ### Neutral
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsl(218, 22%, 67%);


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    max-width: 1440px;
    background-color: $Grayish-Blue;
    line-height: 1.3;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 1.125rem;
}

h2 {
    font-size: 1rem;
}

p,pre {
    font-size: 0.875rem;
    color: $Grayish-Blue;
    font-weight: 400;
}

button {
    border: none;
    outline: none;
    width: 100%;
    padding: 1.1875rem;
    background-color: $Bright-Yellow;
    color: $Light-Gray;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 2.125rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}