main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0.675rem;

    .card {
        max-width: 19.4375rem;
        border-radius: 10px;
        overflow: hidden;

        &__info {
            padding: 0 1.375rem;
            background-color: $Light-Gray;

            h1 {
                padding: 2.0625rem 0; //33px
                color: $Cyan;
            }

            h2 {
                color: $Bright-Yellow;
            }

            p {
                padding: 1.875rem 0 2.5rem 0;
            }

        }

        &__innerCard {

            p,
            pre {
                color: $Light-Gray;
            }

            &__plan {
                padding: 1.875rem 1.375rem; //22px
                background-color: $Cyan;

                >h2 {
                    padding-bottom: 1.875rem; //30px
                    color: $Light-Gray;
                }

                .plan_discription {
                    gap: 10px;

                    span {
                        font-size: 1.3125rem; // 21px;
                        font-weight: 700;
                    }
                }

            }

            &__about {
                padding: 1.75rem 1.375rem; //28px 22px
                background-color: $Light-Cyan;

                h2 {
                    color: $Light-Gray;
                    padding-bottom: 1.75rem; //28px
                }
            }
        }
    }
}